body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0% 20%;
}